@import 'bower_components/cutestrap/dist/css/cutestrap.min.css';
@import 'bower_components/Peppermint/dist/peppermint.required.css';

/**
 * Overrides
 */
body {
	color: #3D6889;
}
h1, h2, h3, h4, h5, h6 {
	color: #424242;
}
.btn, [type=button], [type=submit], button {
	background-color: #73D0F4;
}
.btn:focus, .btn:hover, [type=button]:focus, [type=button]:hover, [type=submit]:focus, [type=submit]:hover, button:focus, button:hover {
	background-color: #3D6889;
}
.select select:focus, .textfield:focus {
	border-color: #73D0F4;
	box-shadow: none;
}
.ta-center img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/**
 * Section
 */
section {
	position: relative;
	overflow: hidden;
}
section:nth-child(odd) {
	color: white;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.3);
	background-color: #3D6889;
	background-image: url(images/patterns/binding-dark.png);
}
section:nth-child(odd) h1, section:nth-child(odd) h2, section:nth-child(odd) h3, section:nth-child(odd) h4, section:nth-child(odd) h5, section:nth-child(odd) h6 {
	color: white;
}

/**
 * Superheader
 */
.intro {
	height: 100vh;
	color: white;
	background-size: cover;
	position: relative;
	display: flex;
	align-items: center;
	background: none;
	box-shadow: none;
}
.intro .wrapper-small {
	z-index: 10;
}
.intro p {
	font-size: 120%;
	line-height: 1.6em;
}
.intro .text {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	text-shadow: 0 0 10px black;
}
.intro p::selection {
	background-color: #424242;
}
.intro .btn {
	margin: 0 0.5em;
	height: auto;
	background: none;
	color: #73D0F4;
	border: 3px solid #73D0F4;
	text-transform: uppercase;
	font-size: 80%;
	transition: all 0.3s ease-out;
	position: relative;
}
.intro .btn:first-child:after, .intro .btn:last-child:after {
	content: '';
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	transition: all 0.1s ease-out;
}
.intro .btn:first-child:after {
	left: -3px;
	top: -3px;
	border-left: 3px solid #73D0F4;
	border-top: 3px solid #73D0F4;
}
.intro .btn:last-child:after {
	right: -3px;
	bottom: -3px;
	border-right: 3px solid #73D0F4;
	border-bottom: 3px solid #73D0F4;
}
.intro .btn:hover:first-child:after {
	border-color: white;
	left: -15px;
	top: -15px;
}
.intro .btn:hover:last-child:after {
	border-color: white;
	right: -15px;
	bottom: -15px;
}
.intro .btn:hover {
	background: #424242;
	color: white;
	border: 3px solid white;
}
.covervid-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/**
 * About Us
 */
#about .grid {
	margin-top: 2em;
}
#about .grid h4 {
	color: #73D0F4;
}

/**
 * Why Us
 */
#why-us:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0.2;
	background-image: url('svg/background_2.svg');
	background-repeat: no-repeat;
	background-position: -50% 100%;
	background-size: 60%;
	pointer-events: none;
}
#why-us .grid {
	counter-reset: li;
}
#why-us .grid h5 {
	text-transform: capitalize;
}
#why-us .grid h5:before {
	content: counter(li);
	counter-increment: li;
	display: block;
	overflow: hidden;
	text-align: center;
	color: #73D0F4;
	margin: 30px auto;
	font-size: 80px;
	height: 90px;
	line-height: 1;
	width: 80px;
	border-bottom: 3px solid #73D0F4;
	text-shadow: 0 0 30px rgba(115, 208, 244, 0.75);
}

/**
 * Testimonials
 */
.peppermint-dots {
	margin: 0;
	padding: 0;
}
.peppermint-dots li {
	display: inline-block;
}
.peppermint-dots li.peppermint-active-dot span {
	background-color: #73D0F4;
}
.peppermint-dots span {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #3D6889;
	margin: 0 1em;
	transition: background-color 0.3s ease-out;
}
.peppermint-nav {
	display: block;
	width: 60px;
	height: 80px;
	position: absolute;
	top: 50%;
	margin-top: -40px;
	cursor: pointer;
	transition: all 100ms ease-in-out;
}
.peppermint-prev {
	left: 50px;
}
.peppermint-next {
	right: 50px;
}
.peppermint-nav polyline {
	transition: all 100ms ease-in-out;
}
.peppermint-nav:active polyline {
	stroke-width: 6;
}
.peppermint-nav:hover polyline, .peppermint-nav:focus polyline {
	stroke-width: 3;
}
#testimonials-slider {
	width: 630px;
	overflow: hidden;
	margin: 0 auto;
}
.testimonial {
	display: block;
	padding: 0;
	margin: 0;
	position: relative;
}
.testimonial blockquote {
	margin: 0;
	padding: 0;
	border: none;
	font-family: "Times New Roman";
    line-height: 1.6em;
    font-weight: 400;
    font-size: 1.2em;
    color: #333;
    text-align: center;
    font-style: italic;
	border: 1px solid #424242;
	padding: 3em;
}
.testimonial footer {
	margin-top: -40px;
}
.testimonial .author {
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
}
.testimonial .company {
	font-style: normal;
	display: block;
	max-width: 50%;
	margin: 0 auto;
	font-size: 80%;
	color: #666;
}
.testimonial-photo {
	width: 200px;
	margin: 0 auto;
	background: white;
	margin-bottom: 20px;
}
.testimonial-photo img {
	width: 80px;
	height: 80px;
	border-radius: 80px;
}

/**
 * Portfolio
 */
#portfolio:before, #portfolio:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0.2;
	background-repeat: no-repeat;
	pointer-events: none;
}
#portfolio:before {
	background-image: url('svg/background_2.svg');
	background-position: 0 100%;
	background-size: 50%;
	transform: rotate(180deg);
}
#portfolio:after {
	background-image: url('svg/background_2.svg');
	background-position: 10% 100%;
	background-size: 40%;
}

/**
 * Instagram
 */
#instagram_gallery {
	position: absolute;
	top: 0;
	right: 0;
	width: 480px;
	width: calc(160px*3);
	height: 100%;
}
#instagram_gallery:after {
	content: "";
	display: table;
	clear: both;
}
#instagram_gallery a {
	display: block;
	width: 160px;
	height: 160px;
	float: right;
	transition: opacity 0.3s ease-out;
}
#instagram_gallery a:nth-child(3n) {
	opacity: 0.1;
}
#instagram_gallery a:nth-child(3n-1) {
	opacity: 0.25;
}
#instagram_gallery a:hover {
	opacity: 1;
}
#instagram_gallery img {
	width: 100%;
}

/**
 * Contact
 */
#contact {
	height: 100vh;
}
#contact form {
	max-width: 640px;
	margin: 0 auto;
}
#contact form [type=submit] {
	display: block;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}