// primary colors
$primary:       #73D0F4;
$primary-dark:  #3D6889;

$link:          #4076D4;
$link--visited: #9140D4;
$link--hover:   darken($link, 5%);
$link--active:  #D44076;

@import "bower_components/cutestrap/dist/scss/cutestrap";
@import 'bower_components/Peppermint/dist/peppermint.required.css';

/**
 * Overrides
 */
body {
	color: $primary-dark;
}
h1, h2, h3, h4, h5, h6 {
	color: #424242;
}
.textfield *:focus, .select select:focus {
	box-shadow: none;
}
.ta-center img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/**
 * Section
 */
section {
	position: relative;
	overflow: hidden;
}
section:nth-child(odd) {
	color: white;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.3);
	background-color: $primary-dark;
	background-image: url(images/patterns/binding-dark.png);
}
section:nth-child(odd) h1, section:nth-child(odd) h2, section:nth-child(odd) h3, section:nth-child(odd) h4, section:nth-child(odd) h5, section:nth-child(odd) h6 {
	color: white;
}

/**
 * Superheader
 */
.logo img {
	height: auto;
	max-width: 100%;
}
.intro {
	height: 100vh;
	color: white;
	background-size: cover;
	position: relative;
	display: flex;
	align-items: center;
	background: none;
	box-shadow: none;
}
.intro .wrapper-small {
	z-index: 10;
}
.intro p {
	font-size: 120%;
	line-height: 1.6em;
}
.intro .text {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	text-shadow: 0 0 10px black;
}
.intro p::selection {
	background-color: #424242;
}
.intro .btn {
	margin: 0 0.5em;
	height: auto;
	background: none;
	color: $primary;
	border: 3px solid $primary;
	text-transform: uppercase;
	font-size: 80%;
	transition: all 0.3s ease-out;
	position: relative;
}
.intro .btn:first-child:after, .intro .btn:last-child:after {
	content: '';
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	transition: all 0.1s ease-out;
}
.intro .btn:first-child:after {
	left: -3px;
	top: -3px;
	border-left: 3px solid $primary;
	border-top: 3px solid $primary;
}
.intro .btn:last-child:after {
	right: -3px;
	bottom: -3px;
	border-right: 3px solid $primary;
	border-bottom: 3px solid $primary;
}
.intro .btn:hover:first-child:after {
	border-color: white;
	left: -15px;
	top: -15px;
}
.intro .btn:hover:last-child:after {
	border-color: white;
	right: -15px;
	bottom: -15px;
}
.intro .btn:hover {
	background: #424242;
	color: white;
	border: 3px solid white;
}
.covervid-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/**
 * About Us
 */
#about .grid {
	margin-top: 2em;
}
#about .grid h4 {
	color: $primary;
}

/**
 * Why Us
 */
#why-us:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0.2;
	background-image: url('svg/background_2.svg');
	background-repeat: no-repeat;
	background-position: -50% 100%;
	background-size: 60%;
	pointer-events: none;
}
#why-us .grid {
	counter-reset: li;
}
#why-us .grid h5 {
	text-transform: capitalize;
}
#why-us .grid h5:before {
	content: counter(li);
	counter-increment: li;
	display: block;
	overflow: hidden;
	text-align: center;
	color: $primary;
	margin: 30px auto;
	font-size: 80px;
	height: 90px;
	line-height: 1;
	width: 80px;
	border-bottom: 3px solid $primary;
	text-shadow: 0 0 30px rgba(115, 208, 244, 0.75);
}

/**
 * Testimonials
 */
.peppermint-dots {
	margin: 0;
	padding: 0;
}
.peppermint-dots li {
	display: inline-block;
}
.peppermint-dots li.peppermint-active-dot span {
	background-color: $primary;
}
.peppermint-dots span {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: $primary-dark;
	margin: 0 1em;
	transition: background-color 0.3s ease-out;
}
.peppermint-nav {
	display: block;
	width: 60px;
	height: 80px;
	position: absolute;
	top: 50%;
	margin-top: -40px;
	cursor: pointer;
	transition: all 100ms ease-in-out;
}
.peppermint-prev {
	left: 50px;
}
.peppermint-next {
	right: 50px;
}
.peppermint-nav polyline {
	transition: all 100ms ease-in-out;
}
.peppermint-nav:active polyline {
	stroke-width: 6;
}
.peppermint-nav:hover polyline, .peppermint-nav:focus polyline {
	stroke-width: 3;
}
#testimonials-slider {
	width: 100%;
	max-width: 630px;
	overflow: hidden;
	margin: 0 auto;
}
.testimonial {
	display: block;
	padding: 0;
	margin: 0;
	position: relative;
}
.testimonial blockquote {
	margin: 0;
	padding: 0;
	border: none;
	font-family: "Times New Roman";
    line-height: 1.6em;
    font-weight: 400;
    font-size: 1.2em;
    color: #333;
    text-align: center;
    font-style: italic;
	border: 1px solid #424242;
	padding: 3em;
}
.testimonial footer {
	margin-top: -40px;
}
.testimonial .author {
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
}
.testimonial .company {
	font-style: normal;
	display: block;
	max-width: 50%;
	margin: 0 auto;
	font-size: 80%;
	color: #666;
}
.testimonial-photo {
	width: 200px;
	margin: 0 auto;
	background: white;
	margin-bottom: 20px;
}
.testimonial-photo img {
	width: 80px;
	height: 80px;
	border-radius: 80px;
}

/**
 * Portfolio
 */
#portfolio:before, #portfolio:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0.2;
	background-repeat: no-repeat;
	pointer-events: none;
}
#portfolio:before {
	background-image: url('svg/background_2.svg');
	background-position: 0 100%;
	background-size: 50%;
	transform: rotate(180deg);
}
#portfolio:after {
	background-image: url('svg/background_2.svg');
	background-position: 10% 100%;
	background-size: 40%;
}
#portfolio {
	.wrapper > p:last-child {
		padding-bottom: 0;
	}
}
#portfolio_grid {
	max-width: calc(424px*3);
	margin: 0 auto;
	padding-bottom: 9.6rem;
	text-align: center;

	figure.portfolio_item {
		display: inline-block;
		margin: 10px 10px 3px 10px;
		padding: 0;
		position: relative;

		&:hover {
			figcaption {
				opacity: 1;
			}
		}
	}
	figcaption {
		opacity: 0;
		background-color: transparentize($primary-dark, .2);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition: opacity 0.3s ease-out;
		display: flex;
		align-items: center;

		.portfolio_desc {
			margin: 0 auto;

			h4 {
				padding: 0;
			}
			p {
				margin-bottom: 0;
			}
		}
	}
}

/**
 * Instagram
 */
#instagram_gallery {
	position: absolute;
	top: 0;
	right: 0;
	width: 480px;
	width: calc(160px*3);
	height: 100%;
}
#instagram_gallery:after {
	content: "";
	display: table;
	clear: both;
}
#instagram_gallery a {
	display: block;
	width: 160px;
	height: 160px;
	float: right;
	transition: opacity 0.3s ease-out;
}
#instagram_gallery a:nth-child(3n) {
	opacity: 0.1;
}
#instagram_gallery a:nth-child(3n-1) {
	opacity: 0.25;
}
#instagram_gallery a:hover {
	opacity: 1;
}
#instagram_gallery img {
	width: 100%;
	height: auto;
}

/**
 * Thanks Page
 */
#thanks_page {
	background: #424242 url('images/startup-photos.jpg') no-repeat 50% 50%;
	background-size: cover;

	.text {
		h3 {
			color: $primary;
			border-top: 1px solid $primary;
			border-bottom: 1px solid $primary;
			margin-top: 3rem;
			margin-bottom: 3rem;
		}
	}
	.btn {
		&::after {
			display: none;
		}
	}
}

/**
 * CTA Banner (Paragraph + Button)
 */
$cta_height: 60px;
$cta_horizontal_padding: 8%;
$cta_bg_color: white;
$cta_bg_color_hover: $primary;
$cta_text_color: $primary-dark;
$cta_text_color_hover: $cta_bg_color;

.cta-banner {
	position: relative;
	border-top: 1px solid $cta_bg_color;
	border-bottom: 1px solid $cta_bg_color;
	margin: 3rem auto;
	padding: 2.4rem $cta_horizontal_padding;

	&:after {
		content: "";
		display: table;
		clear: both;
	}
	p, .btn {
		float: left;
	}
	p {
		width: 60%;
		text-align: right;
		margin: 0;
		padding: 0;
	}
	.btn {
		width: 25%;
		height: $cta_height;
		margin-top: -$cta_height/2;
		line-height: $cta_height;
		padding: 0;
		color: $cta_text_color;
		background-color: $cta_bg_color;
		position: absolute;
		top: 50%;
		right: $cta_horizontal_padding;

		&:focus, &:hover {
			color: $cta_text_color_hover;
			background-color: $cta_bg_color_hover;
		}
		&:active {
			background-color: $cta_bg_color_hover;
		}
	}
}

/**
 * Contact
 */
#contact form {
	max-width: 640px;
	margin: 0 auto;
}
#contact form [type=submit] {
	display: block;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

/**
 * Responsive Fixes
 * @todo Prefer to use a Sass mixin so that the media queries can be used inside components @include breakpoint(medium) {}
 * See http://foundation.zurb.com/sites/docs/media-queries.html#the-breakpoint-mixin
 */
@media (min-width:959px) {
	#contact {
		height: 100vh;
	}
	.mobile-cta {
		a {
			color: inherit;
			text-decoration: none;
		}
	}
}
@media (max-width:959px) {
	section.intro {
		background: url('https://cdn.rawgit.com/SiamKreative/SiamKreative-Studio/master/media/Hello-World.jpg') no-repeat 50% 50%;
		background-size: cover;
	}
	.logo img {
		max-width: 70%;
	}
	.covervid-wrapper {
		display: none;
	}
	.peppermint-nav {
		position: relative;
		margin-top: -50px;
		left: inherit;
		right: inherit;

		svg {
			width: 30px;
		}
	}
	.peppermint-prev {
		float: left;
	}
	.peppermint-next {
		float: right;
	}
	#instagram_gallery {
		display: none;
	}
	#contact form .ta-center {
		text-align: left;
	}
	.mobile-cta {
		a {
			display: block;
			width: 100%;
			max-width: 640px;
			margin: 1em auto 0 auto;
			padding: 1em 0;
			background: #73D0F4 url('images/phone-call.svg') no-repeat 5% 50%;
			background-size: auto 60%;
			border: none;
			border-radius: .2rem;
			box-sizing: border-box;
			color: #fff;
		}
	}
}